{% extends "base.html" %}

	<head>
		<style>
		{% block css %}
			.piece-container {
				display: grid;
				grid-template-columns: 43px 43px 43px 43px 43px 43px 43px;
				grid-template-rows: 43px 43px 43px 43px 43px 43px 43px;
				width: 500px;
				height: 500px;
			}
			
			.tile-container {
				display: grid;
				grid-template-columns: 40px 40px 40px 40px 40px 40px;
				grid-template-rows: 40px 40px 40px 40px 40px 40px;
				grid-gap: 3px;
				width: 255px;
				height: 255px;
			}

			/*
			.piece-container input[type="radio"] {
				opacity: 0;
				position: fixed;
				width: 0px;
				height: 0px;
			}
			*/

			.piece-container div {
				width: 43px;
				height: 43px;
				z-index: 2;
			}
			
			.piece-container .piece-input-container div {
				border-radius: 50%;
				width: 43px;
				height: 43px;
				display: inline-block;
			}
			
			/*
			.piece-container input[type="radio"]:checked + label {
				background-color:#bfb;
				border-color: #4c4;
			}
			*/


			.tile-container div {
				width: 40px;
				height: 40px;
				position: relative;
				background-color: #884029;
				top: -478px;
				left: 22px;
				z-index: 1;
			}

			#submit-container {
				width: 80px;
				height: 40px;
			}


			#play {
				width: 80px;
				height: 20px;
			}

		{% endblock %}
		</style>
	</head>
	<body>
	{% block content %}
		{% load boardExtras %}
		<form class="piece-container">
		{% csrf_token %}
			{% for x in game.piecePositions|split %}
				
				{% if x == "1" %}
					<div class="piece-input-container">	
						<div onclick=setPieceDown(this) style="background-color:grey;border-color:grey" for="coordinate-{{ forloop.counter0 }}" id="coordinate-{{ forloop.counter0 }}"></div>
					</div>
				{% elif x == "2" %}
					<div class="piece-input-container">	
						<div onclick=setPieceDown(this) style="background-color:black;border-color:black" for="coordinate-{{ forloop.counter0 }}" id="coordinate-{{ forloop.counter0 }}"></div>
					</div>
				{% else %}
					<div class="piece-input-container">	
						<div onclick=setPieceDown(this) style="background-color:transparent;border-color:transparent" for="coordinate-{{ forloop.counter0 }}" id="coordinate-{{ forloop.counter0 }}"></div>
					</div>
				{% endif %}

			{% endfor %}
			<div id="submit-container">
				<div id="submit-error"></div>
				<input type="button" value="play" id="play">
			</div>
			
		</form>
		
		<div class="tile-container">
			{% for x in 36|numberRange %}

				<div>	
				</div>

			{% endfor %}
		</div>





		{{ game|json_script:"views-game" }}
		<script id="views-game"></script>

		
		
		<script>
			//pulls game into javascript
			let game = JSON.parse(document.getElementById('views-game').textContent);

			let selected = "";

			const playSocket = new WebSocket(
				'ws://'
				+ window.location.host
				+ `/ws/play/${game.id}/`
			);

			

			


			playSocket.onmessage = function(e) {
				const data = JSON.parse(e.data);
				
				if(data.messageType == 'playedAgainstOpponent') {
					
					let coordinatesTaken = data.coordinatesTaken.split(/\[|\]|,\s/)
					if(data.playedAgainst == game.whitePlayer) {
						let playedLabel = document.querySelector(`div[id=coordinate-${data.coordinatePlayed}]`);
						playedLabel.style.backgroundColor = "black";
						playedLabel.style.borderColor = "black";
						game.piecePositions = game.piecePositions.substring(0, parseInt(data.coordinatePlayed)) + "2" + game.piecePositions.substring(parseInt(data.coordinatePlayed) + 1);
						for(x = 0; x < coordinatesTaken.length; x++) {
							if(coordinatesTaken[x] != "") {
								let takenLabel = document.querySelector(`div[id=coordinate-${coordinatesTaken[x]}]`);
								takenLabel.style.backgroundColor = "transparent";
								takenLabel.style.borderColor = "transparent";
								game.piecePositions = game.piecePositions.substring(0, parseInt(coordinatesTaken[x])) + "0" + game.piecePositions.substring(parseInt(coordinatesTaken[x]) + 1);
							}
						}
					}
					else {
						let playedLabel = document.querySelector(`div[id=coordinate-${data.coordinatePlayed}]`);
						playedLabel.style.backgroundColor = "grey";
						playedLabel.style.borderColor = "grey";
						game.piecePositions = game.piecePositions.substring(0, parseInt(data.coordinatePlayed)) + "1" + game.piecePositions.substring(parseInt(data.coordinatePlayed) + 1);
						for(x = 0; x < coordinatesTaken.length; x++) {
							if(coordinatesTaken[x] != "") {
								let takenLabel = document.querySelector(`div[id=coordinate-${coordinatesTaken[x]}]`);
								takenLabel.style.backgroundColor = "transparent";
								takenLabel.style.borderColor = "transparent";
								game.piecePositions = game.piecePositions.substring(0, parseInt(coordinatesTaken[x])) + "0" + game.piecePositions.substring(parseInt(coordinatesTaken[x]) + 1);
							}
						}
					}
				}

				else if(data.messageType == 'played') {

					let coordinatesTaken = data.coordinatesTaken.split(/\[|\]|,\s/)
					if(data.playedAgainst == game.whitePlayer) {
						let playedLabel = document.querySelector(`div[id=coordinate-${data.coordinatePlayed}]`);
						playedLabel.style.backgroundColor = "black";
						playedLabel.style.borderColor = "black";
						game.piecePositions = game.piecePositions.substring(0, parseInt(data.coordinatePlayed)) + "2" + game.piecePositions.substring(parseInt(data.coordinatePlayed) + 1);
						for(x = 0; x < coordinatesTaken.length; x++) {
							if(coordinatesTaken[x] != "") {
								let takenLabel = document.querySelector(`div[id=coordinate-${coordinatesTaken[x]}]`);
								takenLabel.style.backgroundColor = "transparent";
								takenLabel.style.borderColor = "transparent";
								game.piecePositions = game.piecePositions.substring(0, parseInt(coordinatesTaken[x])) + "0" + game.piecePositions.substring(parseInt(coordinatesTaken[x]) + 1);
							}
						}
					}
					else {
						let playedLabel = document.querySelector(`div[id=coordinate-${data.coordinatePlayed}]`);
						playedLabel.style.backgroundColor = "grey";
						playedLabel.style.borderColor = "grey";
						game.piecePositions = game.piecePositions.substring(0, parseInt(data.coordinatePlayed)) + "1" + game.piecePositions.substring(parseInt(data.coordinatePlayed) + 1);
						for(x = 0; x < coordinatesTaken.length; x++) {
							if(coordinatesTaken[x] != "") {
								let takenLabel = document.querySelector(`div[id=coordinate-${coordinatesTaken[x]}]`);
								takenLabel.style.backgroundColor = "transparent";
								takenLabel.style.borderColor = "transparent";
								game.piecePositions = game.piecePositions.substring(0, parseInt(coordinatesTaken[x])) + "0" + game.piecePositions.substring(parseInt(coordinatesTaken[x]) + 1);
							}
						}
					}
					

				}


				else {

					let errorNode = document.createElement("div");
					errorNode.style.width = "160px";
					errorNode.style.height = "20px";
					errorNode.textContent = data.errorMessage;
					errorNode.style.color = "red";
					document.querySelector("#submit-container").insertBefore(errorNode, document.querySelector("#play"));
				
					
					window.setTimeout(function() {
      					errorNode.parentNode.removeChild(errorNode);
      					
    				}, 2000);

				}
			};

			playSocket.onclose = function(e) {
				console.error('Chat socket closed unexpectedly');

			}	




			function setPieceDown(event) {

				
				for(x = 0; x < game.piecePositions.length; x++) {
					if(game.piecePositions[x] == "0") {
						let setLabel = document.querySelector(`div[id=coordinate-${x}]`);
						setLabel.style.backgroundColor = "transparent";
						setLabel.style.borderColor = "transparent";
					}
					else if(game.piecePositions[x] == "1") {
						let setLabel = document.querySelector(`div[id=coordinate-${x}]`);
						setLabel.style.backgroundColor = "grey";
						setLabel.style.borderColor = "grey";
					}
					else {
						let setLabel = document.querySelector(`div[id=coordinate-${x}]`);
						setLabel.style.backgroundColor = "black";
						setLabel.style.borderColor = "black";
					}
				}

				selected = "";


				if(game.playerInScope == game.whitePlayer) {
					if (event.style.backgroundColor == "transparent" && event.style.borderColor == "transparent") {
						event.style.backgroundColor = "grey";
						event.style.borderColor = "grey";
						selected = event;
					}
				}
				
				else { 
					if (event.style.backgroundColor == "transparent" && event.style.borderColor == "transparent") {
						event.style.backgroundColor = "black";
						event.style.borderColor = "black";
						selected = event;
					}
				}
				
				

        	};


			document.querySelector("#play").onclick = function(e) {
				//let playedInput = document.querySelector('input[name="coordinate"]:checked');

				if(selected != "") {
					let playedLabel = document.querySelector(`div[id=${selected.id}]`);
					let coordinate = playedLabel.id.split("-")[1];
					if(game.whitePlayer == game.playerInScope) {
						playSocket.send(JSON.stringify({
						'playedAgainst': game.blackPlayer,
						'messageType': 'play',
						'coordinate': coordinate,
						'gameId': game.id

						}));
					}
					else {
						playSocket.send(JSON.stringify({
						'playedAgainst': game.whitePlayer,
						'messageType': 'play',
						'coordinate': coordinate,
						'gameId': game.id

						}));
					}

				}
				

				

        	};

		</script>
	
	{% endblock %}
	</body>