	{% extends "base.html" %}
	<head>
		<style>
		{% block css %}
			select {
				width: 150px;
			}
		{% endblock %}
		</style>
	</head>
	
	<body>
	{% block content %}
		{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


		<div id="create-temp-player-container">
			Enter a name: <input type="text" name="name" pattern="[a-zA-z0-9]*" maxlength="10" id="input-username">
			<input type="submit" value="Create Temporary Player" id="create-temp-player">
		</div>
		


		
		<select id="opponent-select" size="15">
			{% for x in availablePlayers %}
				<option value="{{ x }}">{{ x }}</option>
			{% endfor %}
		</select>
		<input id="opponent-challenge" type="submit" value="challenge">

		<br>
		<br>

		<select id="invitations" size="15">
			{% for x in challengingPlayers %}
				<option value="{{ x }}" id="{{ x }}">{{ x }}</option>
			{% endfor %}
		</select>
		<input id="opponent-accept" type="submit" value="accept">

		<br>
		<br>

		<select id="current-games" size="15">
			{% for x in opponentObjects %}
				<option onclick="redirectToBoard(this)" value="{{ x.value }}" id="{{ x.gameId }}">{{ x.value }}</option>
			{% endfor %}
		</select>

		{{ challengingPlayers|json_script:"challenging-players" }}
		<script id="challenging-players"></script>

		{{ challengedPlayers|json_script:"challenged-players" }}
		<script id="challenged-players"></script>

		{{ opponents|json_script:"opponents" }}
		<script id="opponents"></script>

		{{ ids|json_script:"ids" }}
		<script id="ids"></script>

		{{ user.color|json_script:"color" }}
		<script id="color"></script>


		<script>



			{% if user.is_authenticated %}
			var perfEntries = performance.getEntriesByType("navigation");

			if (perfEntries[0].type === "back_forward") {
    			location.reload(true);
			}

			let challengedPlayers = JSON.parse(document.getElementById('challenged-players').textContent);
			let opponents = JSON.parse(document.getElementById('opponents').textContent);
			let challengingPlayers = JSON.parse(document.getElementById('challenging-players').textContent);
			

			//pulls player color into javascript
			let playerColor = JSON.parse(document.getElementById('color').textContent);


			const challengeSocket = new WebSocket(
				'wss://'
				+ window.location.host
				+ '/ws/challenge/'
        	);

			function redirectToBoard(event) {
				let gameIdSlug = event.id + "_" + event.value +  "_game/";
				window.location.href= "/board/" + gameIdSlug;
			};


			challengeSocket.onmessage = function(e) {
				const data = JSON.parse(e.data);
				if(data.messageType == 'challenge') {
					var newOption = document.createElement('option');
					newOption.value = data.challengingPlayer;
					newOption.text = data.challengingPlayer;
					newOption.id = data.challengingPlayer;
					document.querySelector('#invitations').add(newOption);
				}
				else if (data.messageType == 'accept') { 
					var newOption = document.createElement('option');
					newOption.value = data.newOpponent;
					newOption.text = data.newOpponent;
					newOption.id = data.gameId;
					newOption.onclick = function(){redirectToBoard(this)};
					var deletedOption = document.querySelector('#invitations').options.namedItem(data.newOpponent);
					if(deletedOption != null) {
						document.querySelector('#invitations').options.remove(deletedOption.index);
					}
					document.querySelector('#current-games').add(newOption);
				}
				else {
					var newOption = document.createElement('option');
					newOption.value = data.newPlayerUsername;
					newOption.text = data.newPlayerUsername;
					newOption.id = data.newPlayerUsername;
					document.querySelector('#opponent-select').add(newOption);
				}
        	};

        	challengeSocket.onclose = function(e) {
            	console.error('Challenge socket closed unexpectedly');
        	};


			document.querySelector('#opponent-challenge').onclick = function(e) {
				
				const messageInputDom = document.querySelector('#opponent-select');
				if(messageInputDom.selectedIndex != -1) {
					const playerToChallenge = messageInputDom.options[messageInputDom.selectedIndex].value;
					

					if(!challengedPlayers.includes(playerToChallenge) && !opponents.includes(playerToChallenge)){
						challengedPlayers.push(playerToChallenge);
						document.getElementById('challenged-players').textContent = JSON.stringify(challengedPlayers);
						challengeSocket.send(JSON.stringify({
							'selectedPlayer': playerToChallenge,
							'messageType': 'challenge'
						}));
						messageInputDom.value = '';
					}
				}
			};

			




			document.querySelector('#create-temp-player').onclick = function(e) {

				let errorNode = document.createElement("div");
				errorNode.style.width = "160px";
				errorNode.style.height = "20px";
				errorNode.textContent = "You have already create a temporary player";
				errorNode.style.color = "red";
				let submitNode = document.querySelector("#create-temp-player")
				document.querySelector("#create-temp-player-container").insertBefore(errorNode, submitNode.nextSibling);
			
				
				window.setTimeout(function() {
					errorNode.parentNode.removeChild(errorNode);
					
				}, 2000);
			
			};


        	document.querySelector('#opponent-accept').onclick = function(e) {
    			const messageInputDom = document.querySelector('#invitations');
				if(messageInputDom.selectedIndex != -1) {
					const playerToAccept = messageInputDom.options[messageInputDom.selectedIndex].value;
					
					opponents.push(playerToAccept);
					document.getElementById('opponents').textContent = JSON.stringify(opponents);
					challengeSocket.send(JSON.stringify({
						'selectedPlayer': playerToAccept,
						'messageType': 'accept'

					}));
					messageInputDom.value = '';
				}
        	};

			{% else %}

			var perfEntries = performance.getEntriesByType("navigation");

			if (perfEntries[0].type === "back_forward") {
    			location.reload(true);
			}

			const challengeSocket = new WebSocket(
				'ws://'
				+ window.location.host
				+ '/ws/challenge/'
        	);

			challengeSocket.onmessage = function(e) {
				const data = JSON.parse(e.data);
				if(data.addToPossibleOpponents == 'False') {
					window.location.href= `/home/logNewPlayerIn/${data.newPlayerUsername}`;
				
				}
				else {
					var newOption = document.createElement('option');
					newOption.value = data.newPlayerUsername;
					newOption.text = data.newPlayerUsername;
					newOption.id = data.newPlayerUsername;
					document.querySelector('#opponent-select').add(newOption);
				}
				
        	};

			document.querySelector('#create-temp-player').onclick = function(e) {

				const inputUsername = document.querySelector('#input-username').value;

				const filter = /\W/;
				if(!filter.test(inputUsername) && inputUsername.length <= 10) {
					challengeSocket.send(JSON.stringify({
						'possibleNewPlayer': inputUsername,
						'messageType': 'createNewPlayer'
					}));
				}

			};

        	{% endif %}


		</script>



	{% endblock %}
	</body>
