	{% extends "base.html" %}
	<head>
		<style>
		{% block css %}
			select {
				width: 150px;
			}
			#opponent-select {
				width: 150px;
				height: 255px;
				overflow: scroll;
				border-style: solid;
				border-width: 1px;
			}

			#invitations {
				width: 150px;
				height: 255px;
				overflow: scroll;
				border-style: solid;
				border-width: 1px;
			}

			#current-games {
				width: 150px;
				height: 255px;
				overflow: scroll;
				border-style: solid;
				border-width: 1px;
			}

		{% endblock %}
		</style>
	</head>
	
	<body>
	{% block content %}
		{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


		<div id="create-temp-player-container">
			Enter a name: <input type="text" name="name" pattern="[a-zA-z0-9]*" maxlength="10" id="input-username">
			<input type="submit" value="Create Temporary Player" id="create-temp-player">
		</div>
		


		
		<div id="opponent-select">
			{% for x in availablePlayers %}
				<div onclick="setPlayerToChallenge(this)" id="{{ x }}">{{ x }}</div>
			{% endfor %}
		</div>
		<input id="opponent-challenge" type="submit" value="challenge">

		<br>
		<br>

		<div id="invitations">
			{% for x in challengingPlayers %}
				<div onclick="setPlayerToAccept(this)" id="{{ x }}">{{ x }}</div>
			{% endfor %}
		</div>
		<input id="opponent-accept" type="submit" value="accept">

		<br>
		<br>

		<div id="current-games">
			{% for x in opponentObjects %}
				<div onclick="redirectToBoard(this)" id="{{ x.gameId }}">{{ x.opponent }}</div>
			{% endfor %}
		</div>

		{{ challengingPlayers|json_script:"challenging-players" }}
		<script id="challenging-players"></script>

		{{ challengedPlayers|json_script:"challenged-players" }}
		<script id="challenged-players"></script>

		{{ opponents|json_script:"opponents" }}
		<script id="opponents"></script>

		{{ ids|json_script:"ids" }}
		<script id="ids"></script>

		{{ user.color|json_script:"color" }}
		<script id="color"></script>


		<script>

			var perfEntries = performance.getEntriesByType("navigation");

			if (perfEntries[0].type === "back_forward") {
				location.reload(true);
			}

			let challengedPlayers = JSON.parse(document.getElementById('challenged-players').textContent);
			let opponents = JSON.parse(document.getElementById('opponents').textContent);
			let challengingPlayers = JSON.parse(document.getElementById('challenging-players').textContent);
			let playerColor = JSON.parse(document.getElementById('color').textContent);
			let playerToAccept = "";
			let playerToChallenge = "";

			function setPlayerToAccept(event) {
				if(playerToAccept != "") {
					document.querySelector(`#invitations div[id=${playerToAccept}]`).style.backgroundColor = "transparent";
				}
				playerToAccept = event.id;
				event.style.backgroundColor = "#ff5500";
			}

			function setPlayerToChallenge(event) {
				if(playerToChallenge != "") {
					document.querySelector(`#opponent-select div[id=${playerToChallenge}]`).style.backgroundColor = "transparent";
				}
				playerToChallenge = event.id;
				event.style.backgroundColor = "#ff5500";
			}

			{% if user.is_authenticated %}


			const challengeSocket = new WebSocket(
				'wss://'
				+ window.location.host
				+ '/ws/challenge/'
        	);

			function redirectToBoard(event) {
				let gameIdSlug = event.id + "_game/";
				window.location.href= "/board/" + gameIdSlug;
			};


			challengeSocket.onmessage = function(e) {
				const data = JSON.parse(e.data);
				if(data.messageType == 'challenge') {
					var newOption = document.createElement('div');
					newOption.text = data.challengingPlayer;
					newOption.id = data.challengingPlayer;
					document.querySelector('#invitations').appendChild(newOption);
				}
				else if (data.messageType == 'accept') { 
					var newOption = document.createElement('div');
					newOption.text = data.newOpponent;
					newOption.id = data.gameId + "_" + data.newOpponent;
					newOption.onclick = function(){redirectToBoard(this)};
					var deletedOption = document.querySelector(`#invitations div[id=${data.newOpponent}]`);
					if(deletedOption != null) {
						document.querySelector('#invitations').removeChild(deletedOption);
					}
					if(!opponents.includes(data.newOpponent)) {
						opponents.push(data.newOpponent);
						document.getElementById('opponents').textContent = JSON.stringify(opponents);
					}
					document.querySelector('#current-games').appendChild(newOption);
				}
				else {
					var newOption = document.createElement('div');
					newOption.text = data.newPlayerUsername;
					newOption.id = data.newPlayerUsername;
					document.querySelector('#opponent-select').appendChild(newOption);
				}
        	};

        	challengeSocket.onclose = function(e) {
            	console.error('Challenge socket closed unexpectedly');
        	};


			document.querySelector('#opponent-challenge').onclick = function(e) {		
				if(playerToChallenge != "" && !challengedPlayers.includes(playerToChallenge) && !opponents.includes(playerToChallenge)){
					challengedPlayers.push(playerToChallenge);
					document.getElementById('challenged-players').textContent = JSON.stringify(challengedPlayers);
					challengeSocket.send(JSON.stringify({
						'selectedPlayer': playerToChallenge,
						'messageType': 'challenge'
					}));
					document.querySelector(`#opponent-select div[id=${playerToChallenge}]`).style.backgroundColor = "transparent";
					playerToChallenge = "";
					console.log('got past sending to websocket!!');
				}
			};

			




			document.querySelector('#create-temp-player').onclick = function(e) {

				let errorNode = document.createElement("div");
				errorNode.style.width = "160px";
				errorNode.style.height = "20px";
				errorNode.textContent = "You have already create a temporary player";
				errorNode.style.color = "red";
				let submitNode = document.querySelector("#create-temp-player")
				document.querySelector("#create-temp-player-container").insertBefore(errorNode, submitNode.nextSibling);
			
				
				window.setTimeout(function() {
					errorNode.parentNode.removeChild(errorNode);
					
				}, 2000);
			
			};


        	document.querySelector('#opponent-accept').onclick = function(e) {
				if(playerToAccept != "" && !opponents.includes(playerToChallenge)) {					
					opponents.push(playerToAccept);
					document.getElementById('opponents').textContent = JSON.stringify(opponents);
					challengeSocket.send(JSON.stringify({
						'selectedPlayer': playerToAccept,
						'messageType': 'accept'

					}));
					document.querySelector(`#invitations div[id=${playerToAccept}]`).style.backgroundColor = "transparent";
					playerToAccept = "";
					console.log('got past sending to websocket!!');
				}
        	};

			{% else %}


			const challengeSocket = new WebSocket(
				'wss://'
				+ window.location.host
				+ '/ws/challenge/'
        	);

			challengeSocket.onmessage = function(e) {
				const data = JSON.parse(e.data);
				if(data.addToPossibleOpponents == 'False') {
					window.location.href= `/home/logNewPlayerIn/${data.newPlayerUsername}`;
				
				}
				else {
					var newOption = document.createElement('div');
					newOption.text = data.newPlayerUsername;
					newOption.id = data.newPlayerUsername;
					document.querySelector('#opponent-select').appendChild(newOption);
				}
				
        	};

			document.querySelector('#create-temp-player').onclick = function(e) {

				const inputUsername = document.querySelector('#input-username').value;

				const filter = /\W/;
				if(!filter.test(inputUsername) && inputUsername.length <= 10) {
					challengeSocket.send(JSON.stringify({
						'possibleNewPlayer': inputUsername,
						'messageType': 'createNewPlayer'
					}));
				}

			};

        	{% endif %}


		</script>



	{% endblock %}
	</body>
